body {
    margin: 0;
    background: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 64px;
    margin-bottom: 40px;
}

.status {
    font-size: 36px;
    margin-bottom: 20px;
}

.timer {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 40px;
}

.progress-container {
    width: 70%;
    height: 20px;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background: #00ff99;
    transition: width 0.5s linear;
}
